<main class="contact-us-view">
    <section>
        <h3>About Us</h3>
        <p>Our mission is to connect people and properties locally or globally</p>
        <p class="margin-bottom-10"> in a most efficient, intelligent easier and cost effective way.</p>
    </section>
</main>